<div class=".container-fluid-lg marginRightLeft ">
  <form class="row g-3">
    <div class="col-12">
      <label for="pesoAtual" class="form-label">Peso</label>
      <input type="number" class="form-control" id="pesoAtual">
    </div>
    <div class="col-12">
      <label for="cintura" class="form-label">Quadril</label>
      <input type="number" class="form-control" id="cintura">
    </div>

    <div class="col-md-6">
      <label for="bicepsEsquerdo" class="form-label">Biceps Esquerdo</label>
      <input type="number" class="form-control" id="bicepsEsquerdo">
    </div>
    <div class="col-md-6">
      <label for="bicepsDireiro" class="form-label">Biceps Direito</label>
      <input type="number" class="form-control" id="bicepsDireito">
    </div>

    <div class="col-md-6">
      <label for="quadricepsEsquerdo" class="form-label">Quadriceps Esquerdo</label>
      <input type="number" class="form-control" id="quadricepsEsquerdo">
    </div>
    <div class="col-md-6">
      <label for="QuadricepsDireiro" class="form-label">Quadriceps Direito</label>
      <input type="number" class="form-control" id="QuadricepsDireito">
    </div>

    <div class="col-md-6">
      <label for="panturrilhaEsquerdo" class="form-label">Panturrilha Esquerdo</label>
      <input type="number" class="form-control" id="panturrilhaEsquerdo">
    </div>
    <div class="col-md-6">
      <label for="panturrilhaDireiro" class="form-label">Panturrilha Direito</label>
      <input type="number" class="form-control" id="panturrilhaDireito">
    </div>





    <div class="col-12">
      <button type="submit" class="btn btn-primary">Cadastrar Medidas</button>
      <button type="submit" class="btn  btn-danger">Cancelar</button>
    </div>



  </form>


</div>

