<p>user works!</p>
<div class=".container-fluid-lg marginRightLeft ">
  <form class="row g-3">

    <div class="col-6">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="nome">
    </div>

    <div class="col-6">
      <label for="sobrenome" class="form-label">Sobrenome:</label>
      <input type="text" class="form-control" id="sobrenome">
    </div>

    <div class="col-6">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email">
    </div>

    <div class="col-6">
      <label for="whatsapp" class="form-label">Whatsapp:</label>
      <input type="whatsapp" class="form-control" id="whatsapp">
    </div>

    <div class="col-6">
      <label for="senha" class="form-label">Senha:</label>
      <input type="password" class="form-control" id="senha">
    </div>

    <div class="col-6">
      <label for="repetirSenha" class="form-label">Repetir Senha:</label>
      <input type="password" class="form-control" id="repetirSenha">
    </div>







    <div class="col-12">
      <button type="submit" class="btn btn-primary">Cadastrar Usuário</button>
      <button type="submit" class="btn  btn-danger">Cancelar</button>
    </div>



  </form>


</div>



