<div class=".container-fluid-lg marginRightLeft ">
  <div class="row g-3" (ngSubmit)="registerUser()" >

    <div class="col-6">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="nome" [(ngModel)]="saveUserDTO.name">
    </div>

    <div class="col-6">
      <label for="sobrenome" class="form-label">Sobrenome:</label>
      <input type="text" class="form-control" id="sobrenome" [(ngModel)]="saveUserDTO.surname" >
    </div>

    <div class="col-6">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="saveUserDTO.email">
    </div>

    <div class="col-6">
      <label for="whatsapp" class="form-label">Whatsapp:</label>
      <input type="text" class="form-control" id="whatsapp" [(ngModel)]="saveUserDTO.whatsapp">
    </div>

    <div class="col-6">
      <label for="senha" class="form-label">Senha:</label>
      <input type="password" class="form-control" id="senha" [(ngModel)]="saveUserDTO.password">
    </div>

    <div class="col-6">
      <label for="repetirSenha" class="form-label">Repetir Senha:</label>
      <input type="password" class="form-control" id="repetirSenha" [(ngModel)]="saveUserDTO.secondPassword">
    </div>




    <div class="col-12">
      <button (click)="registerUser()" type="submit" class="btn btn-primary">Cadastrar Usuário</button>
      <button type="submit" class="btn  btn-danger">Cancelar</button>
    </div>

  </div>

</div>




