<div class=".container-fluid-lg marginRightLeft ">
  <form class="row g-3 "   [formGroup]="formUserRegister">

    <!-- Campo Name -->
    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{'is-invalid': formUserRegister.get('name')?.invalid && formUserRegister.get('name')?.touched, 'is-valid': formUserRegister.get('name')?.valid && formUserRegister.get('name')?.touched}">
      <div *ngIf="formUserRegister.get('name')?.invalid && formUserRegister.get('name')?.touched" class="invalid-feedback">
        Digite seu nome, apenas letras são permitidas!
      </div>
      <div *ngIf="formUserRegister.get('name')?.valid && formUserRegister.get('name')?.touched" class="valid-feedback">
        Tudo correto!
      </div>
    </div>

   <!-- Campo Surname -->
  <div class="col-md-6">
    <label for="surname" class="form-label">Surname</label>
    <input type="text" class="form-control" id="surname" formControlName="surname" [ngClass]="{
      'is-invalid': formUserRegister.get('surname')?.invalid && formUserRegister.get('surname')?.touched,
      'is-valid': formUserRegister.get('surname')?.valid && formUserRegister.get('surname')?.touched
    }">
    <div *ngIf="formUserRegister.get('surname')?.touched && formUserRegister.get('surname')?.invalid" class="invalid-feedback">
      <div *ngIf="formUserRegister.get('surname')?.errors?.['onlyLetters']">Apenas letras são permitidas</div>
    </div>
    <div *ngIf="formUserRegister.get('surname')?.valid && formUserRegister.get('surname')?.touched" class="valid-feedback">
      Tudo certo!
    </div>
  </div>

  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{'is-invalid': formUserRegister.get('email')?.invalid && formUserRegister.get('email')?.touched, 'is-valid': formUserRegister.get('email')?.valid && formUserRegister.get('email')?.touched}">
    <div *ngIf="formUserRegister.get('email')?.invalid && formUserRegister.get('email')?.touched" class="invalid-feedback">
      Digite um e-mail válido. Exemplo : 'exemploAexemplo.com'
    </div>
    <div *ngIf="formUserRegister.get('email')?.valid && formUserRegister.get('email')?.touched" class="valid-feedback">
      Tudo certo!
    </div>
  </div>


    <!-- Campo Whatsapp -->
    <div class="col-md-6">
      <label for="whatsapp" class="form-label">Whatsapp</label>
      <input type="text" class="form-control" id="whatsapp" formControlName="whatsapp" [ngClass]="{'is-invalid': formUserRegister.get('whatsapp')?.invalid && formUserRegister.get('whatsapp')?.touched, 'is-valid': formUserRegister.get('whatsapp')?.valid && formUserRegister.get('whatsapp')?.touched}">
      <div *ngIf="formUserRegister.get('whatsapp')?.invalid && formUserRegister.get('whatsapp')?.touched" class="invalid-feedback">
        Please provide a valid whatsapp number.
      </div>
      <div *ngIf="formUserRegister.get('whatsapp')?.valid && formUserRegister.get('whatsapp')?.touched" class="valid-feedback">
        Looks good!
      </div>
    </div>

    <!-- Campo Password -->
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{'is-invalid': formUserRegister.get('password')?.invalid && formUserRegister.get('password')?.touched, 'is-valid': formUserRegister.get('password')?.valid && formUserRegister.get('password')?.touched}">
      <div *ngIf="formUserRegister.get('password')?.invalid && formUserRegister.get('password')?.touched" class="invalid-feedback">
        Digite sua senha com pelo menos 6 digitos.
      </div>
      <div *ngIf="formUserRegister.get('password')?.valid && formUserRegister.get('password')?.touched" class="valid-feedback">
        Tudo Certo!
      </div>
    </div>

    <!-- Campo Confirm Password -->
    <div class="col-md-6">
      <label for="secondPassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="secondPassword" formControlName="secondPassword" [ngClass]="{'is-invalid': formUserRegister.get('secondPassword')?.invalid && formUserRegister.get('secondPassword')?.touched, 'is-valid': formUserRegister.get('secondPassword')?.valid && formUserRegister.get('secondPassword')?.touched}">
      <div *ngIf="formUserRegister.get('secondPassword')?.invalid && formUserRegister.get('secondPassword')?.touched" class="invalid-feedback">
        Confirme sua senha de 6 digitos.
      </div>
      <div *ngIf="formUserRegister.get('secondPassword')?.valid && formUserRegister.get('secondPassword')?.touched" class="valid-feedback">
        Tudo certo!
      </div>
    </div>




    <div class="col-12">
      <button (click)="registerUser()" [disabled]="formUserRegister.invalid" type="submit" class="btn btn-primary">Cadastrar Usuário</button>
      <button type="submit" (click)="cancel()" class="btn  btn-danger">Cancelar</button>
    </div>

  </form>

</div>


<!--!
 <div class="col-6  " >
           <label for="name" class="form-label ">Nome:</label>
           <input
           type="text"
           class="form-control"
           id="name"
           formControlName="name"
           [(ngModel)]="saveUserDTO.name" >
             >
             <div *ngIf="formUserRegister.get('name')?.errors && formUserRegister.get('name')?.touched">
              <div>
                Tá errado
              </div>
            </div>
        </div>

         Campo Email
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{'is-invalid': formUserRegister.get('email')?.invalid && formUserRegister.get('email')?.touched, 'is-valid': formUserRegister.get('email')?.valid && formUserRegister.get('email')?.touched}">
      <div *ngIf="formUserRegister.get('email')?.invalid && formUserRegister.get('email')?.touched" class="invalid-feedback">
        Please provide a valid email.
      </div>
      <div *ngIf="formUserRegister.get('email')?.valid && formUserRegister.get('email')?.touched" class="valid-feedback">
        Looks good!
      </div>
    </div>



      -->



