<div class=".container-fluid-lg marginRightLeft ">
  <form class="row g-3">

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Escrever Treino</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div class="col-6">
      <label for="sobrenome" class="form-label">Obervações:</label>
      <input type="text" class="form-control" id="sobrenome">
    </div>


    <div class="col-12">
      <button type="submit" class="btn btn-primary">Cadastrar Treino</button>
      <button type="submit" class="btn  btn-danger">Cancelar</button>
    </div>


  </form>

</div>
