<div class="container-fluid">

  <div class="row">




    <!-- Div na Esquerda -->
    <div class="col-lg-6 right-div d-flex justify-content-center align-items-center .container-lg">



        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="../../../assets/pexels-leonardho-1552242.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/pexels-willpicturethis-1954524.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/pexels-olly-3768916.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


    </div>

    <!-- Div na Direita -->
    <div class="col-lg-6 right-div d-flex justify-content-center align-items-center">
      <div class="centered-div">
        <p>Entrar</p>

        <div class="row mb-3">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input [(ngModel)]="loginUser.email" name="email" type="email" class="form-control" id="email" placeholder="senha">
          </div>

          <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Senha</label>
            <div class="col-sm-10">
              <input  [(ngModel)]="loginUser.password" name="password" type="password" class="form-control" id="colFormLabel" placeholder="senha">
            </div>

            <div class="col-12">
              <button type="submit" (click)="submit()" class="btn btn-primary">Entrar</button>
            </div>

            <div>
              <p>Ainda não está cadatrado. Faça seu cadastro <a routerLink="/createuser" >Aqui</a></p>
            </div>



      </div>
    </div>
  </div>
</div>
