<div class="container-fluid">
  <div class="row">
    <!-- Div na Esquerda -->
    <div class="col-lg-6 right-div d-flex justify-content-center align-items-center .container-lg">

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="../../../assets/pexels-leonardho-1552242.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../../assets/pexels-willpicturethis-1954524.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/pexels-olly-3768916.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


    </div>

    <!-- Div na Direita -->
<div class="col-lg-6 right-div d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="centered-div p-4 shadow-lg rounded bg-white w-100" style="max-width: 400px;">
    <h2 class="text-center mb-4">Entre ou Faça seu Cadastro!</h2>

    <div *ngIf="loginError" class="alert alert-danger" role="alert">
      Credenciais inválidas. Por favor, tente novamente.
    </div>

    <div *ngIf="emptyFieldsError" class="alert alert-warning" role="alert">
      Por favor, preencha todos os campos.
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input [(ngModel)]="loginUser.email" name="email" type="email" class="form-control" id="email" placeholder="Digite seu email">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input [(ngModel)]="loginUser.password" name="password" type="password" class="form-control" id="password" placeholder="Digite sua senha">
    </div>

    <div class="d-grid mb-3">
      <button type="submit" (click)="submit()" class="btn btn-outline-dark">Entrar</button>
    </div>

    <div class="text-center">
      <p>Ainda não está cadastrado? <a routerLink="/createuser" class="link-primary">Faça seu cadastro aqui</a></p>
    </div>
  </div>
</div>


