/* app.component.css */
.position-relative {
  position: relative;
}

.char-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8em;
  color: #888;
}

.largura{
  width: 80%;
  margin: 10px;
}

.marginRightLeft{
  margin-left: 10%;
  margin-right: 10%;
}
.btnMargin{
  margin: 5px;

}

