<div class="card">
  <div class="card-body text-center">
    Seja Bem-Vindo, {{ name }}
  </div>
</div>


<div class="card mb-3" style="max-width: 500px;">
  <div class="row g-0">

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Usuário : {{  name }}</h5>
        <p class="card-text">WhatApp : {{user.whatsapp}}  </p>

        <button type="button" routerLink="/myworkout" class="btn btn-outline-danger">  Meus Treinos</button>
        <button type="button" [routerLink]="['/updateuser', idUser]" [disabled]="idUser === null" class="btn btn-outline-danger">Editar meu user</button>
        <button type="button" routerLink="/creatework" class="btn btn-outline-danger">  Criar treino público</button>
      </div>
    </div>
  </div>
</div>



<button type="button" class="btn btn-outline-dark btnMargin" routerLink="/createmeasures">Adicionar Nova Medida</button>

<div *ngIf="measures && measures.length">

  <div class="card colorBody">
    <div class="card-body">
      <h3>Minhas Medidas</h3>

    </div>
  </div>
  <div class="row">
    <div *ngFor="let measure of measures; let i = index" class="col-6 col-md-4 col-lg-3 col-xl-2 p-1">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Medidas {{ i + 1 }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Peso : {{ measure.weight }}</li>
            <li class="list-group-item">Biceps Esquerdo: {{ measure.left_biceps }}</li>
            <li class="list-group-item">Biceps Direito: {{ measure.right_biceps }}</li>
            <li class="list-group-item">Cintura: {{ measure.waist }}</li>
            <li class="list-group-item">Quadriceps Esquerdo: {{ measure.left_quadriceps }}</li>
            <li class="list-group-item">Quadriceps Direito: {{ measure.right_quadriceps }}</li>
            <li class="list-group-item">Panturrilha Esquerda: {{ measure.left_calf }}</li>
            <li class="list-group-item">Panturrilha Direito: {{ measure.right_calf }}</li>
            <li class="list-group-item">Data Anterior: {{ measure.date }}</li>
            <li class="list-group-item">Data de Registro: {{ measure.registrationDate }}</li>

            <div class="card-body d-flex flex-column align-items-start">
              <button type="button" [routerLink]="['/updatemeasure', measure.id]"  class="btn btn-outline-info">Editar Medida</button>

            <!-- home.component.html  -->
            <app-delete-measures></app-delete-measures>

              <button type="button" class="btn btn-outline-danger" (click)="openDeleteModal(measure.id)">Excluir</button>

              </div>

            <!-- home.component.html -->



          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




