.custom-card-spacing {
  padding: 3px !important;
}

.card-body .btn {
  width: 100%;
  margin-bottom: 5px; /* ajuste conforme necessário */
}

.colorBody{
  background-color: rgb(199, 199, 202);
}

.btnMargin{
  margin: 10px;
}

