<div class="card">
  <div class="card-body">
    Seja Bem-Vindo. Fulano
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/RONNIE_COLEMAN.jpg" class="img-fluid rounded-start" alt="uma imagem de alguem forte aqui">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nome da Pessoa "</h5>
        <p class="card-text">Alguma coisa </p>
        <p class="card-text">Alguma coisa </p>
        <p class="card-text">Alguma coisa </p>

      </div>
    </div>
  </div>
</div>
