<div class="card">
  <div class="card-body">
    Seja Bem-Vindo. Fulano
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/RONNIE_COLEMAN.jpg" class="img-fluid rounded-start" alt="uma imagem de alguem forte aqui">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nome da Pessoa "</h5>
        <p class="card-text">Alguma coisa </p>
        <p class="card-text">Alguma coisa </p>
        <p class="card-text">Alguma coisa </p>
        <button type="button" [routerLink]="['/updateuser', idUser]" [disabled]="idUser === null" class="btn btn-outline-danger">Editar meu user</button>

      </div>
    </div>
  </div>
</div>

<div *ngIf="name">
  <h2>{{ name }}</h2>
</div>



<div *ngIf="measures && measures.length">
  <h3>Measures</h3>
  <div class="row">
    <div *ngFor="let measure of measures; let i = index" class="col-6 col-md-4 col-lg-3 col-xl-2 p-1">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Medidas {{ i + 1 }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Peso : {{ measure.weight }}</li>
            <li class="list-group-item">Biceps Esquerdo: {{ measure.left_biceps }}</li>
            <li class="list-group-item">Biceps Direito: {{ measure.right_biceps }}</li>
            <li class="list-group-item">Cintura: {{ measure.waist }}</li>
            <li class="list-group-item">Quadriceps Esquerdo: {{ measure.left_quadriceps }}</li>
            <li class="list-group-item">Quadriceps Direito: {{ measure.right_quadriceps }}</li>
            <li class="list-group-item">Panturrilha Esquerda: {{ measure.left_calf }}</li>
            <li class="list-group-item">Panturrilha Direito: {{ measure.right_calf }}</li>
            <li class="list-group-item">id: {{ measure.id}}</li>
            <!-- home.component.html -->
            <button type="button" [routerLink]="['/updatemeasure', measure.id]"  class="btn btn-outline-info">Editar Medida</button>

            <!-- home.component.html -->
<app-delete-measures></app-delete-measures>
<ul>
     <button type="button" class="btn btn-outline-danger" (click)="openDeleteModal(measure.id)">Excluir</button>
</ul>


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




